{% trans_default_domain "symforium" %}
{% set containerClass = 'container-fluid' %}
{% set bodyType = 'admin' %}
{% extends 'SymforiumCoreBundle:Layout:layout.html.twig' %}

{% block title %}Symforium - Admin Panel{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/bundles/symforiumcore/js/admin.js"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="all" href="/bundles/symforiumcore/css/admin.css" />
{% endblock %}

{% block menu %}
    <p class="navbar-text page-header" >{{ title }}</p>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ url('symforium_core_admin_index') }}">View Site</a></li>
    </ul>
{% endblock %}

{% block wrapper %}
    <nav id="sidebar" class="col-sm-2">
        {{ knp_menu_render('admin', {'currentClass': 'active'}) }}
    </nav>
    <div id="content" class="col-sm-10">
       {{ wo_render_breadcrumbs() }}
        {% block content %}{% endblock %}
    </div>
{% endblock %}